body {
  height: 100vh;
  margin: 0;
  background: #002b36;
  overflow: hidden;
  /* display: grid; */
  /* place-items: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

img {
  position: absolute;
}

img.decor {
  margin-top: -40%;
  width: 25%;
}

img.decor_2.bottom-left {
  left: 0;
  bottom: 0;
  width: 20%;
  transform: rotate(90deg);
}

img.decor_2.bottom-right {
  right: 0;
  bottom: 0;
  width: 20%;
}

img.decor_2.top-right {
  right: 0;
  top: 0;
  width: 20%;
  transform: rotate(270deg);
}

img.decor_2.top-left {
  left: 0;
  top: 0;
  width: 20%;
  transform: rotate(180deg);
}

img.decor_2.snow_2 {
  bottom: -40%;
  width: 100%;
  z-index: -5;
}

img.decor_santa-clause {
  left: 10%;
  bottom: 30%;
  width: 30%;
}

img.gift {
  margin-top: -8%;
  margin-bottom: -30%;
  margin-left: -18%;
  width: 12%;
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
}

.animated-text {
  position: absolute;
  margin-top: -30%;

  font-size: 36px;
  font-weight: bold;
  display: inline-block;
}

.animated-text span {
  display: inline-block;
  animation: jump 1s infinite;
  letter-spacing: 5px;
  background: linear-gradient(to bottom, #e74c3c, #ffd700);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.space {
  margin-right: 10px;
}

.xmas-tree {
  margin-top: 100px;
  position: relative;
  width: 500px;
  height: 590px;
  z-index: -2;
}

.star {
  z-index: 3;
  position: absolute;
  color: #fffc00;
  font-size: 40px;
  text-shadow: 0 0 20px #fffc00;
  left: 50%;
  top: 15%;
  margin-left: -22px;
  animation: spin 2s infinite linear forwards;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

.t1 {
  position: absolute;
  z-index: 2;
  border-bottom: 100px solid #2bd937;
  margin-left: -100px;
  border-right: 100px solid transparent;
  border-left: 100px solid transparent;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  top: 20%;
  left: 50%;
}

.t2 {
  position: absolute;
  z-index: 1;
  border-bottom: 125px solid #26bd30;
  margin-left: -125px;
  border-right: 125px solid transparent;
  border-left: 125px solid transparent;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  top: 27%;
  left: 50%;
}

.t3 {
  position: absolute;
  border-bottom: 150px solid #1f9927;
  margin-left: -150px;
  border-right: 150px solid transparent;
  border-left: 150px solid transparent;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  top: 34%;
  left: 50%;
}

.t1::before,
.t1::after,
.t2::before,
.t2::after,
.t3::before,
.t3::after {
  position: absolute;
  content: "";
  background: #d6d400;
  z-index: 3;
  width: 10px;
  height: 20px;
  border-radius: 50%;
  animation: blink 1.5s infinite;
}

.t2::before {
  animation-delay: 0.5s;
}

.t2::after {
  animation-delay: 0.5s;
}

.t3::before {
  animation-delay: 1s;
}

.t3::after {
  animation-delay: 1s;
}

@keyframes blink {
  30% {
    background: rgb(255, 252, 0);
    box-shadow: 0 0 20px 10px #fffc0059;
  }
  60% {
    background: rgb(255, 252, 0);
    box-shadow: 0 0 0px 0px #fffc0059;
  }
}

.t1::before {
  top: 77px;
  left: -82px;
}

.t1::after {
  top: 77px;
  right: -82px;
}

.t2::before {
  top: 98px;
  left: -103px;
}

.t2::after {
  top: 98px;
  right: -103px;
}

.t3::before {
  top: 118px;
  left: -122px;
}

.t3::after {
  top: 118px;
  right: -122px;
}

.stem {
  position: absolute;
  top: 53%;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 100px;
  z-index: -1;
  background: #694215;
}

.snow-ground {
  position: absolute;
  width: 120px;
  height: 30px;
  background: whitesmoke;
  top: 67%;
  left: 50%;
  margin-left: -60px;
  z-index: -5;
  border-radius: 50%;
}

.snow {
  position: absolute;
  top: -10px;
  background: lightblue;
  border-radius: 50%;
  animation: fall linear;
}

@keyframes fall {
  to {
    transform: translateY(105vh);
  }
}

/* -----------------Message------------------ */
.container {
  border-radius: 8px;
  margin-right: -800px;
  position: absolute;
  max-width: 400px;
  padding: 20px;
  background-color: yellow;
}

h1 {
  margin-top: 0;
  color: #e74c3c;
  text-align: center;
}

p {
  font-size: 16px;
  line-height: 1.6;
  color: #333333;
}

.festive-text {
  color: #c0392b;
  font-weight: bold;
}

.spacing {
  margin-bottom: 20px;
}

/* --------------HEART----------------- */
.group-heart {
  display: flex;
  flex-direction: row;
  gap: 60px;
  width: 100%;
  justify-content: center;
}

.heart {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #ff3838;
  transform: rotate(45deg);
  animation: heartbeat 1.4s linear infinite;
}

.heart:before,
.heart:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff3838;
  border-radius: 50%;
}

.heart:before {
  transform: translateY(-50%);
}

.heart:after {
  transform: translateX(-50%);
}

@keyframes heartbeat {
  0% {
    transform: rotate(45deg) scale(1);
  }
  25% {
    transform: rotate(45deg) scale(1);
  }
  30% {
    transform: rotate(45deg) scale(1.4);
  }
  50% {
    transform: rotate(45deg) scale(1.2);
  }
  70% {
    transform: rotate(45deg) scale(1.4);
  }
  100% {
    transform: rotate(45deg) scale(1);
  }
}
